<h1>Development log</h1>
<p>2018-04-23</p>
<a>1. QA process</a></br>
<a>2. New Development log page</a></br>
<a>3. Don't typo any letter!!!</a></br>
</br>

<a href=./>Home</a></br>
<a href=./about>About</a></br>

